/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 5rem;
}

img {
    width: 100%;
    height: auto;
}

.card-title > a {
   color: black;
}
pre {
  box-sizing: border-box;
  border: 1px solid #E3EDF3;
  padding: 10px;
  font-size: .9em;
  white-space: pre;
  border-radius: 3px;
}

code, pre, tt {
  font-family: monospace;
  background: #F7FAFB;
}

